*{
    color: green;
    font-weight: bolder;
}

div{
    background-color: blue;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

p{
    color:orange;
}

.caja{
    width: 150px;
    height: 150px;
    background-color: green;
}

.otraCaja{
    width: 150px;
    height: 150px;
    /* rgba (red, green, blue, alpha) */
    /* alpha es la opacidad */
    /* 0 es transparente y 1 es opaco */
    /* rgba(0,0,255,0.4) es azul con 40% de opacidad */
    /* rgba(0,0,255,1) es azul opaco */
    background-color: rgba(0,0,255,0.4);
}

.unaCajaMas{
    width: 150px;
    height: 150px;
    background-color: #E60E99;
}

.capibara{
    width: 150px;
    height: 150px;
    /* hls (color saturacion luminosidad )*/
    background-color: hsl(0, 100%, 20%);
}

#soyUnico{
    width: 150px;
    height: 150px;
    background-color: gray;
    
}

a[title]{
    color: red;
}

button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: green;
}

input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}

input:disabled{
    background-color: gray;
}